<!DOCTYPE html>

<head th:fragment="header">
  <meta charset="UTF-8" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="css/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />

  <script src="http://10.1.32.30/static/js/vue.js"></script>
  <script src="http://10.1.32.30/static/js/vuetify.js"></script>
  <script src="http://10.1.32.30/static/js/axios.min.js"></script>
  <script src="http://10.1.32.30/static/js/javascript-debounce.js"></script>
  <script src="http://10.1.32.30/static/js/moment.min.js"></script>
  <script src="http://10.1.32.30/static/js/v-currency-field.umd.min.js"></script>
  <script src="http://10.1.32.30/static/js/vue-i18n.js"></script>
  <script src="http://10.1.32.30/static/js/vue-the-mask.min.js"></script>
  <script src="http://10.1.32.30/static/js/chart.min.js"></script>
  <script src="http://10.1.32.30/static/js/chartjs-plugin-datalabels@2.0.0"></script>
  <script src="http://10.1.32.30/static/v-bmenu/v-bmenu.min.js"></script>
  <script src="http://10.1.32.30/static/js/FileSaver.js"></script>
  <script src="http://10.1.32.30/static/js/sweetalert2@11"></script>
  <script src="http://10.1.32.30/static/js/jsreport.js"></script>
  <script src="http://10.1.32.30/static/js/v-mask.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/underscore@1.13.6/underscore-umd-min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/file-saver@2.0.5/dist/FileSaver.min.js "></script>

  <script src="js/jsreport.js"></script>
  <script src="js/moment-business-day.js"></script>
  <style>
    .upper input {
      text-transform: uppercase;
    }
  </style>

  <title>SisViatura</title>
</head>
