<head th:replace="common/header.html::header"></head>
<div th:replace="common/drawer.html::drawer"></div>
<v-main id="app">
    <v-container fluid>
        <v-data-table :headers="dataTable.headers" :items="dataTable.items" class="elevation-1"
            :footer-props="dataTable.footerProps" :server-items-length="dataTable.totalItens"
            :items-per-page="dataTable.itemsPerPage" no-data-text="Não ha dados" :page.sync="dataTable.dataTablePage">
            <template v-slot:top>
                <v-toolbar flat>
                    <v-toolbar-title>Motoristas</v-toolbar-title>
                    <v-divider class="mx-4" inset vertical></v-divider>
                    <v-spacer></v-spacer>
                    <v-text-field dense hide-details v-model="search" label="Pesquisa"></v-text-field>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" dark class="mb-2" @click="novo">
                        Novo
                    </v-btn>
                </v-toolbar>
            </template>

            <template v-slot:item.actions="{ item }">
                <v-icon small class="ms-3" title="Visualizar" @click="visualizarMotorista(item)">
                    mdi-eye
                </v-icon>
                <v-icon small class="ms-3" title="Editar" @click="editarMotorista(item)">
                    mdi-pencil
                </v-icon>
                <v-icon small class="ms-3" title="Exlcuir" @click="excluirMotorista(item)">
                    mdi-delete
                </v-icon>

            </template>
            <template v-slot:item.id="{ item }">
                {{ formatarNIP(item.nip) }}
              </template>
              
            <!-- Atributos aglutinados -->

        </v-data-table>
        <v-dialog width="900" v-model="novoDialog">
            <v-card>
                <v-card-title>
                    {{ (modoVisualizacao ? 'Detalhes' : ( modoEdicao ? 'Editar' : 'Novo'))}}
                </v-card-title>
                <v-form ref="form" lazy-validation>
                    <v-card-text>
                        <v-row>
                            <v-col cols="4">
                                <v-text-field dense outlined v-model="novoMotorista.nip" name="nip" label="NIP" required
                                    v-mask="'##.####.##'" :rules="obrigatorio"
                                    :disabled="modoVisualizacao"></v-text-field>
                            </v-col>
                            <v-col cols="4">
                                
                                <v-select dense outlined 
                                    v-model="novoMotorista.graduacaoMotorista"
                                    value="novoMotorista.graduacaoMotorista"
                                    label="Graduação" 
                                    :items="['SO', '1°SG', '2°SG', '3ºSG', 'CB', 'MN']" 
                                    :rules="obrigatorio" 
                                    :disabled="modoVisualizacao"
                                    required ></v-select>
                            </v-col>
                            <v-col cols="4">
                                <v-text-field dense outlined v-model="novoMotorista.nomeGuerraMotorista"
                                    name="nomeGuerraMotorista" label="Nome de Guerra" required :rules="obrigatorio"
                                    class="upper" :disabled="modoVisualizacao"></v-text-field>
                            </v-col>
                            <v-col cols="9">
                                <v-text-field dense outlined v-model="novoMotorista.nomeCompletoMotorista"
                                    name="nomeCompletoMotorista" label="Nome Completo" required :rules="obrigatorio"
                                    class="upper" :disabled="modoVisualizacao"></v-text-field>
                            </v-col>

                            </v-col>
                            <v-col cols="3">
                                <v-select dense outlined v-model="novoMotorista.cnhClasse" label="CNH"
                                    :items="['A', 'B', 'C', 'D', 'E']" multiple :rules="obrigatorio"
                                    :disabled="modoVisualizacao"></v-select>
                            </v-col>
                        </v-row>
                    </v-card-text>
                    <v-card-actions>
                        <v-btn color="primary" @click="novoDialog = false">Fechar</v-btn>
                        <v-btn v-if="!modoVisualizacao" type="submit" color="primary"
                            @click.prevent="salvar">Salvar</v-btn>
                    </v-card-actions>

                </v-form>
            </v-card>

        </v-dialog>
    </v-container>
</v-main>
</v-app>
<div th:replace="common/footer.html::footer"></div>
<script src="js/custom/motorista.js"></script>
</body>

</html>